# Lua-specific
luac.out
*.src.rock
*.zip
*.tar.gz
*.o
*.os
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.def
*.exp
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Neovim plugin development
*.log
*.cache
*.swp
*.swo
undo/
session/
tags
*.lock
lazy-lock.json

# Editor and OS files
.DS_Store
*.bak
*.tmp
*.temp

# Project-specific
.env
secrets/
dist/
build/
doc/tags
